<% provide(:title, "About")%>

<h1>About Us</h1>
<h4 style="line-height:1.4">Hi, There I am a student of FAST-NUCES & I've developed this posting-app while learing Ruby On Rails Framework. I've Followed Michael Hartl's Book <a href="https://www.railstutorial.org/book"> Ruby on Rails Tutorial. </a> You can signup to explore the functionalities of app. I've Created 100 Fake users by using FAKER Gem. If You find any issue Please inform me at iem.saad@hotmail.com I will feel happy to help you. You can check my other projects at <a href="https://github.com/iem-saad"> Github.</a></h4>
<h3>Thanks For Coming :) <3</h3>
